// app global css

h1, h2, h3, h4, h5, h6
  margin 1rem 0 .5rem

a
  color $primary
  text-decoration none


.q-card
  border-radius 0

[class*="type-"]
  border-left 2px solid
.type-administratif
  border-color $administratif
.type-conference
  border-color $conference
.type-atelier
  border-color $atelier
.type-divertissement
  border-color $divertissement
